body {background: #484848; color: #fff;}

.grid {width: 800px;}
card {background: #fff; border-radius: 15px; display: inline-block; height: 195px; margin: 10px; position:relative; width: 150px;}
  card img {display: block; height: 65px; margin: 0 auto; width: 65px;}

  card:hover,
  card.selected {opacity: 0.8;}


screen {background: #484848; height: 100%; left: 0; position: absolute; top: 0; width: 100%;}

screen h1 {font-size: 14em; text-align: center;}